<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body {
  width: 800px;
}
.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.uploaded {
	width: 600px;
}

</style>
</head>
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div class="container">
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>Title:</td><td><input type="text" name="title" /></td></tr>				
				<tr><td>Description:</td><td><input type="text" name="description" /></td></tr>				
				<tr><td>Creation date:</td><td><input type="date" name="creationDate" /></td></tr>	
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div class="uploaded">
		<h3>Files Uploaded</h3>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>

</body>
</html>

